option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "scie.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "scie.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
container_commands:
  00_permissions:
    command: "sudo chmod 777 /var/app/current/"
    leader_only: true
  01_statics:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic"
    leader_only: true
